<#macro header>
<header>
    <nav>
        <ul class="nav-menu">
            <li class="nav-item"><span class="nav-title">${site.title}</span></li>
            <li class="nav-item"><a href="${site.baseUrl}">Home</a></li>
            <li class="nav-item"><a href="/example-page.html">Example Page</a></li>
        </ul class="menu">  
    </nav>
</header>
</#macro>
<#macro footer>
<footer>
    <hr>
    <div class="footer-text">
    This site was made with <a href="https://github.com/mikulex/coffeetime">CoffeeTime</a>
    </div>
</footer>
</#macro>